<!-- <p>charts works!</p> -->
<google-chart style="height: 100vh; width: 100%;" [type]="productChartType" [data]="productSalesData" [columns]="productChartColumns" [title]="productChartTitle" [options]="productChartOptions"> </google-chart>

<google-chart style="height: 100vh; width: 100%;" [type]="yearChartType" [data]="YearSalesData" [columns]="yearChartColumns" [title]="productChartTitle" [options]="yearChartOptions"> </google-chart>

<google-chart style="height: 100vh; width: 100%;" [type]="StateChartType" [data]="StateSalesData" [columns]="StateChartColumns" [title]="StateChartTitle" [options]="StateChartOptions"> </google-chart>
